.section {
    height: 50vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center; /* Aggiungi spaziatura al padding sopra e sotto */
}

main {
    margin-bottom: 100px; /* Aggiungi più spazio al fondo del <main> */
}

.container {
    padding-bottom: 10px; /* Oppure aggiungi spazio al fondo del contenitore */
}

body {
    font-family: 'Arial', sans-serif; /* Scegli un font moderno e leggibile */
   
}


.navbar {
    background-color: #f8f9fa; /* Usa colori chiari e freschi per la navbar */
}

.main {
    padding: 20px;
    background-color: #e9ecef; /* Uno sfondo neutro per il contenuto */
}

.btn-info, .btn-primary {
    transition: all 0.3s ease; /* Aggiungi transizioni per un effetto hover fluido */
}

.btn-info:hover, .btn-primary:hover {
    transform: scale(1.05); /* Leggero ingrandimento al hover */
}

.footer {
    background-color: #343a40; /* Piede di pagina scuro per contrasto */
    color: white;
}

#checkoutButton {
    margin-top: 20px;  /* Spazio dal totale del carrello */
    display: block;    /* Assicurati che il bottone si estenda per l'intera larghezza se necessario */
    width: 100%;       /* Opzionale: rendi il bottone largo quanto il contenitore */
}