.google-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #4285f4;
  border: none;
  border-radius: 4px;
  padding: 5px 10px; 
  font-size: 14px;   
  cursor: pointer;
  text-decoration: none;
}
.google-btn img {
  margin-right: 5px; 
  width: 18px;       
  height: 18px;     
}

.btn-link {
  color: #007bff;
  text-decoration: underline;
}
.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
