.header-content {
    text-align: center;
    padding: 40px;
    margin: auto; 
    width: 90%; 
  }
  .title-section h3 {
    font-size: 2.5em; 
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px; 
  }
  .title-section p {
    font-size: 1em; 
    color: rgba(255, 255, 255, 0.7); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    max-width: 80%; 
    margin: auto; 
  }
  .developer-title {
    text-align: center;
    font-weight: bold;
    margin-top: 50px; 
    color: #fff; 
    font-size: 2em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    margin-bottom: 20px;
  }

  .content {
      padding-bottom: 100px; 
  }

  .card {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
      transition: transform 0.3s ease, box-shadow 0.3s ease
  }

  .card:hover {
      transform: scale(1.03); 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }